:root {
  --color-clouds: #ecf0f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  max-width: 900px;
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.choices {
  display: flex;
  gap: 30px;
}

.choice-btn {
  flex: 1;
  margin-bottom: 30px;
  cursor: pointer;
}

.infos {
  flex: 1;
  padding: 15px;
  background-color: var(--color-clouds);
  border: 1px solid #000;
}

.log {
  font-size: 18px;
}

.log:not(:last-child) {
  margin-bottom: 5px;
}
